body {
	width: 360px;
	height: 480px;
	margin: 0;
	background: #000;
	color: #fff;
	font: 300 100.1% "Helvetica Neue", Helvetica, "Arial Unicode MS", Arial, sans-serif;
}

#holder {
	height: 360px;
	width: 360px;
	left: 50%;
	margin-top: 0px;
}

#time, #date {
	text-align: center;
	font: 100 3em "Helvetica Neue", Helvetica, Arial, sans-serif;
}

#date {
	font-size: 2em;
}